.custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath d='M1 0l4 4 4-4' fill='%23000000'/%3E%3C/svg%3E"); */
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
}


.custom-select option {
    border-radius: 0;
  }

.custom-select:focus option {
    border-radius: 0;
    outline: none;
  }
